@import "tailwindcss";

@import './css/font.css';
@import './css/button.css';
@import './css/utility.css';
@import './css/slider.css';

@source "./../node_modules/preline/dist/*.js";
@import "./../node_modules/preline/variants.css";

@theme inline {
    /* fonts */
    --font-peyda: 'Peyda';

    /* colors */
    --color-neutral-10: #1A1A1A;
    --color-neutral-30: #4D4D4D;
    --color-neutral-50: #808080;
    --color-neutral-80: #ccc;
    --color-blue-normal: #00A8F5;
    --color-blue-hover: #0097dd;
    --color-green-normal: #00BA5B;
    --color-green-hover: #00a752;
    --color-orange-normal: #FF5B33;
    --color-orange-hover: #e6522e;

    /* shadow */
    --shadow-neutral-10: 0 4px 40px 0 rgba(77, 77, 77, 0.08);
}

.nav {
    @apply bg-white overflow-y-auto lg:overflow-y-visible fixed order-2 top-0 -right-64 h-full lg:top-auto lg:right-auto lg:h-auto lg:relative xl:shrink-0 xl:grow lg:px-4 xl:px-10 w-64 lg:w-auto transition-all duration-200 z-50;
    @media screen and (max-width: 1024px) {
        box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.08);
    }

    .nav__list {
        @apply flex flex-col lg:flex-row items-start lg:items-center justify-start gap-3;

        > .nav__item {
            @apply relative w-full lg:w-auto;

            .nav__link {
                @apply flex items-center lg:rounded-lg xl:rounded-xl gap-2 py-3 px-2 transition-all duration-300;

                .nav__link--icon {
                    svg {
                        @apply size-5;
                    }
                }

                .nav__link--text {
                    @apply text-neutral-10 text-sm xl:text-base/[18px];
                }

                .submenu-toggle {
                    @apply mr-auto ml-2;

                    svg {
                        @apply rotate-90 lg:rotate-180;
                    }
                }
            }

            /* Submenu Styles */

            .submenu {
                @apply hidden bg-white w-full lg:absolute lg:top-full lg:right-0 lg:min-w-[200px] lg:w-auto lg:shadow-md lg:rounded-lg lg:mt-0 z-10;

                .submenu__item {
                    @apply relative w-full;

                    .submenu__link {
                        @apply flex items-center justify-between w-full py-2 px-4 text-sm text-neutral-10 hover:bg-[#0052B41A] transition-all duration-200;
                    }

                    /* Nested Submenu Styles */

                    .submenu--nested {
                        @apply lg:absolute lg:right-full lg:top-0 lg:mr-0 lg:mt-0;
                    }
                }
            }

            /* Show submenu on hover for desktop */
            @media (min-width: 1024px) {
                &:hover > .submenu,
                .submenu__item:hover > .submenu--nested {
                    @apply block;
                }
            }

            /* Show submenu when active class is added (for mobile) */

            &.submenu-active > .submenu,
            .submenu__item.submenu-active > .submenu--nested {
                @apply block;
            }

            /* Rotate arrow when submenu is active */

            &.submenu-active > .nav__link .submenu-toggle svg,
            .submenu__item.submenu-active > .submenu__link .submenu-toggle svg {
                @apply rotate-[270deg] lg:rotate-0;
            }
        }

        .nav__item--active {
            .nav__link {
                @apply bg-[#0052B41A];
            }

            .nav__link--text {
                @apply font-semibold;
            }
        }
    }
}

.nav.active {
    @apply right-0;
}